
:host {
  --bg-color: rgba(233, 233, 233, 0.233);
  --bg-color-hover: rgba(233, 233, 233, 0.178);
  --bg-color-icon-hover: black;
  --color: grey;
  --padding-top: 10vh;
  --position: relative;
  --primary-color: rgb(29, 202, 255);
  --sidebar-width: inherit;
  --sidebar-min-height: 100vh;
}




.selected {
  color: var(--primary-color);
}

ul {
  background-color: var(--bg-color);
  position: var(--position);
  box-shadow: 0px 8px 8px rgba(128, 128, 128, 0.322);
  margin: 0;
  min-height: var(--sidebar-min-height);
  padding: 0;
  padding-top: var(--padding-top);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: left;
  width: var(--sidebar-width);

}


li {
  cursor: pointer;
  user-select: none;
  list-style: none;
  color: var(--color);
  font-size: 1em;
  padding: 15px 20px;
  padding-left: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  overflow: hidden;
}

li i {
  padding-right: 20px;
}

li:hover {
  background-color: var(--bg-color-hover);
}




.selected {
  color: var(--primary-color);
}